staffnet-biometrics-models/src/main/resources/xsdSchemas/staffnet-biometrics-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema elementFormDefault="qualified" targetNamespace="http://www.bceid.ca/models/BCS/V4/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bceid.ca/models/BCS/V4/">
    <s:complexType abstract="true" name="RequestBase">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="onlineServiceId" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="requesterUserId" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="requesterAccountTypeCode" type="tns:BCeIDAccountTypeCode"/>
            <s:element maxOccurs="1" minOccurs="0" name="requesterUserGuid" type="s:string"/>
        </s:sequence>
    </s:complexType>

    <s:simpleType name="BCeIDAccountTypeCode">
        <s:restriction base="s:string">
            <s:enumeration value="Void"/>
            <s:enumeration value="Individual"/>
            <s:enumeration value="VerifiedIndividual"/>
            <s:enumeration value="Business"/>
            <s:enumeration value="Internal"/>
            <s:enumeration value="LDB"/>
            <s:enumeration value="EDS"/>
            <s:enumeration value="THS"/>
            <s:enumeration value="CORNET"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType name="StartEnrollmentRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="IDRef" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="StartEnrollmentResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="issuance" type="tns:IssuanceToken"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="IssuanceToken">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="issuanceID" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="enrollmentURL" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="expiry" type="s:dateTime"/>
        </s:sequence>
    </s:complexType>

    <s:simpleType name="ResponseCode">
        <s:restriction base="s:string">
            <s:enumeration value="Success"/>
            <s:enumeration value="Failed"/>
            <s:enumeration value="UnknownError"/>
            <s:enumeration value="Warning"/>
        </s:restriction>
    </s:simpleType>

    <s:simpleType name="FailureCode">
        <s:restriction base="s:string">
            <s:enumeration value="Void"/>
            <s:enumeration value="NoResults"/>
            <s:enumeration value="ExpectedResults"/>
            <s:enumeration value="ArgumentException"/>
            <s:enumeration value="AuthenticationException"/>
            <s:enumeration value="ValidationException"/>
            <s:enumeration value="AuthorizationException"/>
            <s:enumeration value="Timeout"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType abstract="true" name="ResponseBase">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="code" type="tns:ResponseCode"/>
            <s:element maxOccurs="1" minOccurs="1" name="failureCode" type="tns:FailureCode"/>
            <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="StartSearchRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="accountType" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="activeOnly" type="tns:ActiveCodeRequest"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:simpleType name="ActiveCodeRequest">
        <s:restriction base="s:string">
            <s:enumeration value="N"/>
            <s:enumeration value="Y"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType name="StartSearchResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="search" type="tns:SearchToken"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="SearchToken">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="searchID" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="searchURL" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="expiry" type="s:dateTime"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="FinishEnrollmentRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="issuanceID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishEnrollmentResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RebindCredentialRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="IDRefTo" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RebindCredentialResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DestroyCredentialRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DestroyCredentialResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ReactivateCredentialRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ReactivateCredentialResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeactivateCredentialRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeactivateCredentialResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishSearchRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="searchID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishSearchResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:SearchStatusCode"/>
                    <s:element maxOccurs="1" minOccurs="0" name="DID" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="credentialReference" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="active" type="tns:ActiveCodeResponse"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:simpleType name="SearchStatusCode">
        <s:restriction base="s:string">
            <s:enumeration value="NotCompleted"/>
            <s:enumeration value="Found"/>
            <s:enumeration value="NotFound"/>
            <s:enumeration value="Error"/>
        </s:restriction>
    </s:simpleType>

    <s:simpleType name="ActiveCodeResponse">
        <s:restriction base="s:string">
            <s:enumeration value="N"/>
            <s:enumeration value="Y"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType name="StartEnrollmentWithIdCheckRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="did" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="photo" type="s:base64Binary"/>
                    <s:element maxOccurs="1" minOccurs="1" name="dateOfBirth" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="identityNames" type="tns:ArrayOfIdentityName"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ArrayOfIdentityName">
        <s:sequence>
            <s:element maxOccurs="unbounded" minOccurs="0" name="IdentityName" nillable="true" type="tns:IdentityName"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="IdentityName">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="type" type="tns:MatchIdentityNameType"/>
            <s:element maxOccurs="1" minOccurs="0" name="givenName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="middleName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="lastName" type="s:string"/>
        </s:sequence>
    </s:complexType>

    <s:simpleType name="MatchIdentityNameType">
        <s:restriction base="s:string">
            <s:enumeration value="Legal"/>
            <s:enumeration value="KnownAs"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType name="StartEnrollmentWithIdCheckResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="issuance" type="tns:IssuanceToken"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RefreshIdentityWithIdCheckRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="did" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="photo" type="s:base64Binary"/>
                    <s:element maxOccurs="1" minOccurs="1" name="dateOfBirth" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="identityNames" type="tns:ArrayOfIdentityName"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RefreshIdentityWithIdCheckResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="issuance" type="tns:IssuanceToken"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishEnrollmentWithIdCheckRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="issuanceID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishEnrollmentWithIdCheckResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="did" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="givenNames" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="lastName" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="photo" type="s:base64Binary"/>
                    <s:element maxOccurs="1" minOccurs="1" name="dateOfBirth" type="s:dateTime"/>
                    <s:element maxOccurs="1" minOccurs="0" name="biometricTemplateUrl" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="0" name="photoTakenDate" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ReactivateBiometricCredentialByDIDRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="DID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ReactivateBiometricCredentialByDIDResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeactivateBiometricCredentialByDIDRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="DID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeactivateBiometricCredentialByDIDResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DestroyBiometricCredentialByDIDRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="DID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DestroyBiometricCredentialByDIDResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeleteAllBiometricCredentialsRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="DeleteAllBiometricCredentialsResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ReconciliationServiceRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="reconciliationItems" type="tns:ArrayOfReconciliationItem"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="ArrayOfReconciliationItem">
        <s:sequence>
            <s:element maxOccurs="unbounded" minOccurs="0" name="ReconciliationItem" nillable="true" type="tns:ReconciliationItem"/>
        </s:sequence>
    </s:complexType>

    <s:complexType name="ReconciliationItem">
        <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="did" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:ReconciliationItemStatus"/>
        </s:sequence>
    </s:complexType>

    <s:simpleType name="ReconciliationItemStatus">
        <s:restriction base="s:string">
            <s:enumeration value="Deactive"/>
            <s:enumeration value="Active"/>
        </s:restriction>
    </s:simpleType>

    <s:complexType name="ReconciliationServiceResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="StartSearchForIdentityRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="activeOnly" type="tns:ActiveCodeRequest"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="StartSearchForIdentityResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="search" type="tns:SearchToken"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishSearchForIdentityRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="searchID" type="s:string"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="FinishSearchForIdentityResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="1" name="status" type="tns:SearchStatusCode"/>
                    <s:element maxOccurs="1" minOccurs="0" name="DID" type="s:string"/>
                    <s:element maxOccurs="1" minOccurs="1" name="active" type="tns:ActiveCodeResponse"/>
                </s:sequence>
            </s:extension>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RevokeRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RevokeResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RenewRequest">
        <s:complexContent mixed="false">
            <s:extension base="tns:RequestBase"/>
        </s:complexContent>
    </s:complexType>

    <s:complexType name="RenewResponse">
        <s:complexContent mixed="false">
            <s:extension base="tns:ResponseBase"/>
        </s:complexContent>
    </s:complexType>

</s:schema>